.prev-arrow,
.next-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}

.prev-arrow {
  left: 1.5rem;
}

.next-arrow {
  right: 1.5rem;
}

.material-icons {
  font-size: 3rem;
  cursor: pointer;
}

/* @media (hover: none) and (pointer: coarse) {
  .prev-arrow,
  .next-arrow {
    display: none;
  }
} */
