.carousel-items-container {
  overflow: hidden;
  width: 100%;
}

.carousel-items {
  display: flex;
  transition: transform 300ms linear;
}

.carousel-items > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel {
  position: relative;
}

.carousel-items.show-3 > * {
  width: calc(100% / 3);
}
